<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required permissions for app blocking functionality -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:label="StudyMode"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="false"
            android:theme="@style/LaunchTheme">
            
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>
        
        <!-- Service for monitoring apps -->
        <service
            android:name=".AppBlockingService"
            android:enabled="true"
            android:exported="false" />
            
        <!-- Blocking Activity -->
        <activity
            android:name=".BlockingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:exported="false" />
            
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>

